@use 'styles/breakpoints.scss' as bp;
@use 'styles/typography.scss' as typography;

.pg-trial-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--spacing-4);
}


.pg-trial-container__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
}

.pg-trial-container__steps {
  width: 100%;
}

.pg-trial-container__outlet {
  flex: 1;
  min-width: 0;
}
