<div class="pg-trials-container">
  <kit-page-heading>
    <ng-template #pageTitle>Trials</ng-template>
    <ng-template #pageDescription>
      Manage and monitor your clinical trials with comprehensive tracking and analytics.
    </ng-template>
    <ng-template #pageActions>
      <p-button 
        label="New Trial" 
        icon="pi pi-plus" 
        severity="primary"
        pRipple>
      </p-button>
    </ng-template>
  </kit-page-heading>
  
  <div class="pg-trials-container__content">
    <div class="pg-trials-container__grid">
      <div 
        class="pg-trials-container__card"
        *ngFor="let trial of sampleTrials; trackBy: trackByTrialId">
        
        <div class="pg-trials-container__card-header">
          <h3 class="pg-trials-container__card-title">{{ trial.name }}</h3>
          <div class="pg-trials-container__card-badges">
            <span class="pg-trials-container__badge pg-trials-container__badge--status" 
                  [ngClass]="'pg-trials-container__badge--' + trial.status.toLowerCase()">
              {{ trial.status }}
            </span>
            <span class="pg-trials-container__badge pg-trials-container__badge--phase">
              {{ trial.phase }}
            </span>
          </div>
        </div>
        
        <p class="pg-trials-container__card-description">
          {{ trial.description }}
        </p>
        
        <div class="pg-trials-container__card-meta">
          <div class="pg-trials-container__meta-item">
            <i class="pi pi-users"></i>
            <span>{{ trial.participants }} participants</span>
          </div>
          <div class="pg-trials-container__meta-item">
            <i class="pi pi-calendar"></i>
            <span>Started {{ trial.startDate }}</span>
          </div>
        </div>
        
        <div class="pg-trials-container__card-actions">
          <p-button 
            [label]="'Open Trial'"
            [icon]="'pi pi-arrow-right'"
            severity="primary"
            pRipple
            [routerLink]="[getTrialPath(trial.id)]">
          </p-button>
        </div>
      </div>
    </div>
  </div>
</div>