/* ========================================
   BENCHMARK DASHBOARD COMPONENT STYLES
   ======================================== */

.pg-benchmark-dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pg-benchmark-dashboard__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

